{% assign icons = include.icons %}

{% if icons.rss %}
<li>
    <a href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}" aria-label="RSS feed">
        <i class="fa fa-fw fa-rss"></i>
    </a>
</li>
{% endif %}

{% if icons.email %}
<li>
    <a href="mailto:{{ icons.email }}" aria-label="Email">
        <i class="fa fa-fw fa-envelope"></i>
    </a>
</li>
{% endif %}

{% if icons.github %}
<li>
    <a href="https://github.com/{{ icons.github }}" aria-label="GitHub">
        <i class="fa fa-fw fa-github"></i>
    </a>
</li>
{% endif %}

{% if icons.bitbucket %}
<li>
    <a href="https://bitbucket.org/{{ icons.bitbucket }}" aria-label="Bitbucket">
        <i class="fa fa-fw fa-bitbucket"></i>
    </a>
</li>
{% endif %}

{% if icons.twitter %}
<li>
    <a href="https://twitter.com/{{ icons.twitter }}" aria-label="Twitter">
        <i class="fa fa-fw fa-twitter"></i>
    </a>
</li>
{% endif %}

{% if icons.facebook %}
<li>
    <a href="https://www.facebook.com/{{ icons.facebook }}" aria-label="Facebook">
        <i class="fa fa-fw fa-facebook"></i>
    </a>
</li>
{% endif %}

{% if icons.google_plus %}
<li>
    <a href="https://plus.google.com/{{ icons.google_plus }}" aria-label="Google Plus">
        <i class="fa fa-fw fa-google-plus"></i>
    </a>
</li>
{% endif %}

{% if icons.tumblr %}
<li>
    <a href="https://{{ icons.tumblr }}.tumblr.com/" aria-label="Tumblr">
        <i class="fa fa-fw fa-tumblr"></i>
    </a>
</li>
{% endif %}

{% if icons.behance %}
<li>
    <a href="https://www.behance.net/{{ icons.behance }}" aria-label="Behance">
        <i class="fa fa-fw fa-behance"></i>
    </a>
</li>
{% endif %}

{% if icons.dribbble %}
<li>
    <a href="https://dribbble.com/{{ icons.dribbble }}" aria-label="Dribble">
        <i class="fa fa-fw fa-dribbble"></i>
    </a>
</li>
{% endif %}

{% if icons.flickr %}
<li>
    <a href="https://www.flickr.com/photos/{{ icons.flickr }}" aria-label="Flickr">
        <i class="fa fa-fw fa-flickr"></i>
    </a>
</li>
{% endif %}

{% if icons.instagram %}
<li>
    <a href="http://instagram.com/{{ icons.instagram }}" aria-label="Instagram">
        <i class="fa fa-fw fa-instagram"></i>
    </a>
</li>
{% endif %}

{% if icons.linkedin %}
<li>
    <a href="https://www.linkedin.com/in/{{ icons.linkedin }}" aria-label="LinkedIn">
        <i class="fa fa-fw fa-linkedin"></i>
    </a>
</li>
{% endif %}

{% if icons.pinterest %}
<li>
    <a href="http://www.pinterest.com/{{ icons.pinterest }}" aria-label="Pinterest">
        <i class="fa fa-fw fa-pinterest"></i>
    </a>
</li>
{% endif %}

{% if icons.reddit %}
<li>
    <a href="https://www.reddit.com/user/{{ icons.reddit }}" aria-label="Reddit">
        <i class="fa fa-fw fa-reddit"></i>
    </a>
</li>
{% endif %}

{% if icons.soundcloud %}
<li>
    <a href="https://soundcloud.com/{{ icons.soundcloud }}" aria-label="SoundCloud">
        <i class="fa fa-fw fa-soundcloud"></i>
    </a>
</li>
{% endif %}

{% if icons.stack_exchange %}
<li>
    <a href="http://stackexchange.com/users/{{ icons.stack_exchange }}" aria-label="Stack Exchange">
        <i class="fa fa-fw fa-stack-exchange"></i>
    </a>
</li>
{% endif %}

{% if icons.steam %}
<li>
    <a href="http://steamcommunity.com/id/{{ icons.steam }}" aria-label="Steam">
        <i class="fa fa-fw fa-steam"></i>
    </a>
</li>
{% endif %}

{% if icons.wordpress %}
<li>
    <a href="https://{{ icons.wordpress }}.wordpress.com/" aria-label="Wordpress">
        <i class="fa fa-fw fa-wordpress"></i>
    </a>
</li>
{% endif %}

{% if icons.youtube %}
<li>
    <a href="https://www.youtube.com/user/{{ icons.youtube }}" aria-label="YouTube">
        <i class="fa fa-fw fa-youtube"></i>
    </a>
</li>
{% endif %}
