{% if paginator.total_pages > 1 %}
<div class="pagination">

    {% if paginator.previous_page %}
    <a class="btn" href="{{ paginator.previous_page_path | prepend: site.baseurl }}" aria-label="Previous">
        <i class="fa fa-chevron-left"></i>
        {{ site.str_prev }}
    </a>
    {% else %}
    <span class="btn disabled">
        <i class="fa fa-chevron-left" aria-hidden="true" title="No previous"></i>
        {{ site.str_prev }}
    </span>
    {% endif %}

    {% if paginator.next_page %}
    <a class="btn" href="{{ paginator.next_page_path | prepend: site.baseurl }}" aria-label="Next">
        {{ site.str_next }}
        <i class="fa fa-chevron-right"></i>
    </a>
    {% else %}
    <span class="btn disabled">
        {{ site.str_next }}
        <i class="fa fa-chevron-right" aria-hidden="true" title="No next"></i>
    </span>
    {% endif %}

</div>
{% endif %}
