{% include page-url-resolver.html page=include.page %}
<div class="clearfix">
  <div class="site-sharebuttons">
    <i class="fa fa-fw fa-share"></i>
    &nbsp;
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}">
        <i class="fa fa-fw fa-twitter"></i>
    </a>
    &nbsp;
    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}">
        <i class="fa fa-fw fa-facebook"></i>
    </a>
    &nbsp;
    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}">
        <i class="fa fa-fw fa-linkedin"></i>
    </a>
    &nbsp;
    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}">
        <i class="fa fa-fw fa-google-plus"></i>
    </a>
    &nbsp;
    <a href="http://www.reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}">
        <i class="fa fa-fw fa-reddit"></i>
    </a>
</div>
