.site-pullquote {
    float: right;
    // padding-top: 1em;
    // padding-bottom: 1em;
    padding-left: 1em;

    blockquote {
      font-size: 133%;
      font-weight: bolder;
      color: $pullquote-color;
    }
}
