.site-buttons {
    float: right !important;

    div.twitter {
      margin-right: 5px !important;
      float: left !important;
    }

    div.facebook {
      width: 105px !important;
      float: left !important;
    }
}
