---
layout: default
---

<div class="article-wrapper">
    <article>
        {% include article-header.html page=page link=false share=page.share %}
        <section class="post-content">
            {{ content }}
        </section>
        {% include article-footer.html share=page.share eye_catch=true %}
    </article>
</div>

{% if site.disqus %}
<section class="comments">
    {% include disqus.html %}
</section>
{% endif %}

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{{ icons.twitter }}">
<meta name="twitter:creator" content="@{{ icons.twitter }}">
{% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}">
{% else %}
  <meta name="twitter:title" content="{{ site.title }}">
{% endif %}
{% if page.url %}
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
{% endif %}
<meta name="twitter:description" content="{{ page.content | strip_html | xml_escape | truncate: 200 }}">
{% if page.image %}
  <meta name="twitter:image:src" content="{{ site.url }}/assets{{ page.image }}">
{% else %}
  <meta name="twitter:image:src" content="{{ site.url }}{{ site.avatar }}">
{% endif %}
