// typography.
$font-family: 'Merriweather', Helvetica, Arial, sans-serif;
$font-size: 16px;

// source code typography.
$code-font-family: Consolas, Monaco, 'Andale Mono', monospace;
$code-font-size: 0.85em;

// vertical margin.
$margin: 30px;

// brand color.
$brand-color: #44eeff;

// other major colors.
$site-title-color: black;
$page-title-color: goldenrod;
$page-title-outline: darken($page-title-color, 20%);
$background-color: #eee;
$border-color: rgba(black, .1);

// typography colors.
$text-color: black;
$caption-color: lighten($text-color, 50%);
$link-color: darken(desaturate($brand-color, 50%), 20%); // darken($brand-color, 33%);
$pullquote-color: adjust-hue($link-color, 20deg);
$blockquote-color: #777;
$table-header-color: adjust-hue($link-color, -20deg);
