// typography.
$font-family: 'Merriweather', Helvetica, Arial, sans-serif;
$font-size: 16px;

// source code typography.
$code-font-family: Consolas, Monaco, 'Andale Mono', monospace;
$code-font-size: 0.85em;

// vertical margin.
$margin: 30px;

// brand color.
$brand-color: cyan; //#44eeff;

// other major colors. See
// https://coolors.co/44eeff-daa520-019e93-fcf6b1-f7f7f7
// http://leaverou.github.io/contrast-ratio/#%23019E93-on-%23FCF6B1
$site-title-color: black;
$page-title-color: goldenrod;
$page-header-color: #FFFAB7; //rgba($page-title-color, .2);
$page-title-outline: darken($page-title-color, 20%);
$background-color: #FFFBFA;
$border-color: rgba(black, .1);

// typography colors.
$text-color: black;
$header-text-color: $page-title-outline; // rgba($text-color, .75);
$caption-color: lighten($text-color, 65%);
$link-color: #007FFF; // darken(desaturate($brand-color, 50%), 20%); // darken($brand-color, 33%);
$pullquote-color: adjust-hue($link-color, 30deg);
$blockquote-color: #757780;
$table-header-color: $brand-color; // adjust-hue($link-color, -30deg);
